.box{
    margin:10px 19px;
    background-color:#FAF4D0;
    width: 30%;
    padding-bottom:10px;
}

.container-2{
    background-color: #00B7C2;
    margin-top: 30px;
    height:100px;
}

 body{
    background-color: #FCF9F4;
    text-align: center;
}

header{
    text-align: center;
}

.container{
 display: flex;
 width:100%;
 margin-top:30px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width:100%;
    
  }
  .image{
      max-height:250px;
      width:100%;
  }
  .box{
      text-align:center;
      width:90%;
  }
  
}


.image{
    background-image: url("../images/img_hawaii.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px #67c5ff;
    border-radius: 4px;
    transition: .4s;
    margin-top: 0.4em;
}

.button:hover {
    background: #67c5ff;
    color: white;
}

h3{
    font-family: 'Comic Sans MS','Arial Rounded MT Bold','Comic Sans MS',  sans-serif;
    text-transform: uppercase;
}
.title {
    font-family: 'Comic Sans MS','Arial Rounded MT Bold',  sans-serif;
    padding:20px;
    font-size:40px;
    
}

.subtitle{
    font-family: 'Hannotate TC','Cambria','Avenir Next',   sans-serif;
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing: 3px;
    max-height: height:100%;
    color:#8785A2;
}

h2{ 
    text-align:center;
}

.plan{
    color:#FAFAF6;
    padding-top:1em;
    font-family: 'Segoe Print','Bradley Hand' sans-serif;
}

.point{
    background-color:#B9E1DC;
    width:100%;
    padding:10px 0;
}

 p{
    padding:10px 0;
    font-size:20px;
    text-align:center;
    width:100%;
}